
.contenedor{
    display: grid;
    grid-template-rows: 90px 1fr;
}

.contenedor h1{
    text-align: center;
}

.contenedor-juego{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
}

.contenedor-tablero{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 2px solid black;
}

.contenedor-tablero div{
}

.contenedor-informacion{
    border: 2px solid black;
}

.contenedor-botones{
    margin-left: 200px;
}

.iniciar{
    width: 100px;
    height: 50px;
    background-color: rgb(55, 173, 55);
    cursor: pointer;
}

.contenedor-tablero div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 80px;
}
