
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.cart-button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cart-button:hover {
  background-color: #e68900;
}

.other-page-button {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-left: 10px;
}

.other-page-button:hover {
background-color: #45a049;
}
