*{
    margin: 0px;
    padding: 0px;
}

html, body{
    margin: 0;
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    display: inline-flex;
    gap: 100px;
    align-items: center;
    font-size: 25px;
}

nav ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 70px;
}

nav ul li{
    display: inline;
}

.menu{
    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 50px;
    grid-template-columns: auto auto;
    box-sizing: border-box;
}

.contenedor-botones{
    display: inline-flex;
    margin-left: 100px;
    gap: 50px;
}

.contenedor-perfil{
    display: inline-flex;
    margin-left: 100px;
    gap: 25px;
    justify-content: right;
    align-items: center;
    color: white;
}

.contenedor-perfil p{
    font-size: 25px;
}

.img-perfil{
    width: 89px;

}

.menu-transicion{
    position: relative;
    transition: color 0.5s ease;
}

.menu-transicion:hover{
    color: #7EF0D4;
}

.menu-transicion::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
}

.menu-transicion:hover::after {
    width: 100%;
}

.menu-transicion-activo{
    position: relative;
    transition: color 0.5s ease;
}

.menu-transicion-activo:hover{
    color: #7EF0D4;
}

.menu-transicion-activo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: white;
    width: 100%;
}

.iniciar-sesion{
    background: linear-gradient(to bottom, #D97BC7 60%, #6A3F8C 100%);
    color: white;
    width: 225px;
    height: 75px;
    border-radius: 50px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.body-contacto{
    height: 100vh;
}

.comenzar button{
    background: linear-gradient(to bottom, #7EF0D4 60%, #E0B0FF 100%);
    width: 225px;
    height: 75px;
    border-radius: 50px;
    font-size: 25px;
    border-radius: 50px;
    color: #6A3F8C;
    border: none;
    cursor: pointer;
}

.animacion-scale {
    transition: transform 0.3s ease;
}

.animacion-scale:hover {
    transform: scale(1.05);
}

.body-home{
    background-image: url(../img/fondo1.png), url(../img/fondo2.png) ;
    background-position: -360px center, center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 100vh;
}

.body-gradiente{
    background: linear-gradient(-116deg, #240A34 34%, #150D3F 83%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

.menu-logo {
    margin-left: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.menu-logo img{
    width: 65px;
    height: 132px;
}

.menu-logo p{
    margin-right: 130px;
    text-align: left;
    font-size: 33px;
    color: white;
}

.menu-logo span{
    font-size: 33px;
    color: white;
}

.eslogan{
    justify-self: center;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-top: 170px;
    margin-left: 180px;
    margin-right: 180px;
}

.contenedor-texto-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.contenedor-texto-contacto h1{
    font-size: 60px;
    color: #E0B0FF;
}

.contenedor-texto-contacto p{
    font-size: 20px;
    color: white;
}

.contenedor-contacto{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lado-izquierdo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 180px;
    padding-bottom: 100px;
}

.imagen-contacto{
    position: relative;
}

.elipse-luz-imagen{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 413px;
    height: 408px;
    background-color: #E0B0FF;
    border-radius: 50%;
    filter: blur(150px);
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.contacto{
    position: relative;
    width: 450px;
    height: auto;
    z-index: 1;
}

.elipse-sombra{
    position: absolute;
    bottom: -50px;
    width: 534px;
    height: 73px;
    background-color: #240A34;
    border-radius: 50%;
    filter: blur(10px);
    transform: translateX(-50%);
    left: 50%;
    pointer-events: none;
}

.imgContacto{
    width: 568.74px;
    height: auto;
    top: 283px;
    left: 7px;
    position: absolute;
}

.lado-derecho{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    position: relative;
    padding-right: 180px;
}

.form-contacto{
    padding: 30px 62px 20px 100px;
    border-radius: 30px;
    border: 6px solid #E0B0FF;
    display: flex;
    flex-direction: column;
}

.form-contacto label{
    margin-bottom: 10px;
}

.form-contacto input{
    margin-bottom: 25px;
    background-color: transparent;
    border: 2px solid #E0B0FF;
    border-radius: 15px;
    width: 603px;
    height: 30px;
    padding: 7px 10px 7px 10px;
    color: white;
    font-size: 16px;
}

.form-contacto textarea{
    margin-bottom: 28px;
    background-color: transparent;
    border: 2px solid #E0B0FF;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    width: 751px;
    height: 110px;
    color: white;
    font-size: 15px;
    resize: none;
}

.button-contenedor{
    display: flex;
    justify-content: center;
}

.button-enviar{
    background: linear-gradient(to bottom, #7EF0D4 60%, #E0B0FF 100%);
    width: 180px;
    height: 58px;
    border-radius: 50px;
    font-size: 25px;
    color: #6A3F8C;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.elipse-luz-form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 526px;
    height: 520px;
    background-color: #E0B0FF;
    border-radius: 50%;
    filter: blur(250px);
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.contenedor-quienes-somos{
    display: flex;
    flex-direction: column;
}

.quienes-somos{
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.gradiente-quienes-somos::before{
    content: "";
    height: 600px;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(217, 123, 199, 0.5) 0%, rgba(36, 10, 52, 0.5) 100%);
    filter: blur(50px);
    z-index: -1;
    pointer-events: none;
}

.gradiente-quienes-somos-inverso::before{
    content: "";
    height: 600px;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgba(217, 123, 199, 0.5) 0%, rgba(36, 10, 52, 0.5) 100%);
    filter: blur(50px);
    z-index: -1;
    pointer-events: none;
}

.gradiente-quienes-somos-arriba::before{
    content: "";
    height: auto;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(217, 123, 199, 0.5) 0%, rgba(36, 10, 52, 0.5) 100%);
    filter: blur(50px);
    z-index: -1;
    pointer-events: none;
}

.quienes-somos img{
    width: 50%;
    width: 958px;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: entrar-izquierda 1400ms ease-in-out;
}

.quienes-somos h2{
    animation: entrar-arriba 1400ms ease-in-out;
}

.quienes-somos p{
    animation: entrar-derecha 2000ms ease-in-out;
}

.texto-quienes-somos{
    display: flex;
    width: 50%;
    flex-direction: column;
    color: white;
    padding-right: 90px;
    box-sizing: border-box;
}

.contenedor-quienes-somos h2{
    color: #E0B0FF;
    font-size: 107px;
    margin-top: 90px;
    margin-bottom: 70px;
}

.contenedor-quienes-somos p{
    font-size: 29px;
    text-align: justify;
}

.historia{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 70px;
}

.texto-historia{
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    color: white;
    padding-left: 90px;
    box-sizing: border-box;
}

.texto-historia h2{
    animation: entrar-izquierda 1400ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}

.texto-historia p{
    animation: entrar-izquierda 1400ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.historia img{
    width: 100%;
    width: 675px;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: entrar-derecha 2000ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 42%;
}

.mision-vision{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 70px;
}

.texto-mision-vision{
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    color: white;
    padding-right: 90px;
    box-sizing: border-box;
}

.mision-vision h2{
    animation: entrar-derecha 1400ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}

.mision-vision p{
    animation: entrar-derecha 1400ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.mision-vision img{
    width: 100%;
    width: 714px;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: entrar-izquierda 2000ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 42%;
}

.equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 200px;
}

.equipo h2{
    animation: entrar-abajo 1400ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}

#equipo-1{
    animation: entrar-izquierda 1400ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

#equipo-2{
    animation: entrar-abajo 1400ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}

#equipo-3{
    animation: entrar-derecha 1400ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 45%;
}


@keyframes entrar-izquierda{
    0%{
        transform: translateX(-1000px);
    }

}

@keyframes entrar-arriba{
    0%{
        transform: translateY(-100vh);
    }
}

@keyframes entrar-abajo{
    0%{
        transform: translateY(100vh);
    }
}

@keyframes entrar-derecha {
    0% {
        transform: translateX(5000px);
    }
}

.pagina{
    display: grid;
    grid-template-rows: 190px 1fr;
    position: relative;
}

.pagina-estanterias{
    display: grid;
    grid-template-rows: 18vh 82vh ;
    position: relative;
}

.boton-subir{
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
}

.boton-subir img{
    width: 58px;
    height: auto;
}

.contenedor-mis-estanterias{
    display: flex;
    grid-template-columns: auto;
    height: 100%;
    border-top: 1px solid rgba(224, 176, 255, 0.3);
    box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}


.menu-lateral{
    color: white;
    width: 23%;
    height: 100%;
    font-size: 25px;
    border-right: 1px solid rgba(224, 176, 255, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.flecha-menu{
    position: absolute;
    top: 720px;
    left: 385px;
    transform: rotate(180deg);
}

.flecha-menu img{
    width: 40px;
}

.menu-lateral-oculto{
    color: white;
    width: 5%;
    height: 100%;
    font-size: 25px;
    border-right: 1px solid rgba(224, 176, 255, 0.3);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.flecha-menu-oculto{
    position: absolute;
    top: 720px;
    left: 30px;
}

.flecha-menu-oculto img{
    width: 40px;
}








.menu-lateral ul{
    padding-top: 30px;
    padding-right: 18px;
}

.opcion{
    color: white;
    margin: 5px 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content:left;
    width: 422px;
    height: 61px;
}

.opcion-activa{
    background-color: rgba(224, 176, 255, 0.11);
    justify-content: center;
    color: white;
    margin: 5px 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 422px;
    height: 61px;
}

.opcion-estanteria::before{
    content: '';
    background-image: url('../img/icono-estanteria.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-right: 36px;
    flex-shrink: 0;
}

.opcion-albumes::before{
    content: '';
    background-image: url('../img/icono-album.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-right: 36px;
    flex-shrink: 0;
}

.opcion-compartido::before{
    content: '';
    background-image: url('../img/icono-compartido.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-right: 36px;
    flex-shrink: 0;
}

.opcion-favoritos::before{
    content: '';
    background-image: url('../img/icono-favorito.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-right: 36px;
    flex-shrink: 0;
}

.opcion-reciente::before{
    content: '';
    background-image: url('../img/icono-reciente.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-right: 36px;
    flex-shrink: 0;
}

.listado-estanterias{
    width: 100%;
    height: 93%;
    padding-top: 30px;
    margin-top: 10px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 40px;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(-116deg, #7EF0D4 0%, #E0B0FF 44%, #7EF0D4 100%);
    border-radius: 50px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.gradiente-listado-estanterias::before{
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #6A3F8C 0%, #150D3F  100%);
    z-index: -2;
    pointer-events: none;
}

.estanterias{
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    position: relative;
}


.estanteria{
    width: 576px;
    height: 298px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.elipse-luz-estanteria{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 543px;
    height: 273px;
    background-color: #240A34;
    border-radius: 50%;
    filter: blur(86px);
    transform: translate(-50%,-50%);
    pointer-events: none;

}

.estanteria p{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 22px;
    left: 43px;
    z-index: 1;
}

.estanteria-img{
    position: absolute;
    z-index: 1;
    top: 74px;
    left: 47px;
}

.puntos{

    position: absolute;
    z-index: 1;
    top: 17px;
    right: 11px;

}

.cuerpo{
    height: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(217, 123, 199, 0.3);
    align-items: center;
    height: 40px;
}

.contenedor-politicas{
    display: inline-flex;
    gap: 26px;
    margin-left: 13px;
    color: white;
    font-size: 17px;
}

.contenedor-rrss{
    display: inline-flex;
    margin-right: 24px;
    gap: 22px;
}

.contenedor-rrss img{
    width: auto;
    height: 17px;

}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-bold{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-light{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

.montserrat-regular{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-light{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.montserrat-extraLight{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.montserrat-bold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-semibold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
